[submodule "opencnc_main-service"]
	path = opencnc_main-service
	url = https://git.cs.kau.se/hamzchah/opencnc_main-service.git
[submodule "opencnc_tsn-service"]
	path = opencnc_tsn-service
	url = https://git.cs.kau.se/hamzchah/opencnc_tsn-service.git
[submodule "opencnc_monitor-service"]
	path = opencnc_monitor-service
	url = https://git.cs.kau.se/hamzchah/opencnc_monitor-service.git
[submodule "opencnc_gnmi-netconf-adapter"]
	path = opencnc_gnmi-netconf-adapter
	url = https://git.cs.kau.se/hamzchah/opencnc_gnmi-netconf-adapter.git
[submodule "config-subsystem"]
	path = config-subsystem
	url = https://git.cs.kau.se/hamzchah/opencnc_config-subsystem.git
[submodule "topology-subsystem"]
	path = topology-subsystem
	url = https://git.cs.kau.se/hamzchah/opencnc_topology-subsystem.git
